:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e9e3e3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.path {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.titulo, .Modo-Juego, .Modo-Edicion, button {
  flex-grow: 1;
  text-align: center;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  color: green;
  text-align: left;
}

button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

.grilla {
  width: 80px;
  height: 80px;
  border: 2px solid #000000;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 32px;
  background-color: #b8edff;
}

.mapa {
  display: grid;
  grid-template-columns: repeat(var(--numCols), 1fr);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  max-height: 1200px;
  gap : 0.5vh 0.5vw;
}


.grilla.selected {
  background-color: red;
}

.Modo-Juego {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: right;
  margin-left: 20px;
}

.Modo-Edicion {
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: right;
  margin-left: 20px;
}

.grilla.origen {
  background-color: #04ff00;
}

.grilla.destino {
  background-color: #ffea00;
}

.grilla.track {
  background-color: #0000ff;
}
